@import url("https://fonts.googleapis.com/css2?family=Marhey:wght@300;400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Marhey", cursive;
    transition: all 0.5s;
}

body {
    background-color: #333;
    color: #ffffff;
}

/* nav-style */
nav {
    width: 100%;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 9999;
    background-color: #333;
}

nav a {
    color: #ffffff;
    padding: 20px;
}

/* top-style */
.top {
    padding: 200px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.info img {
    width: 300px;
}

.txet {
    text-align: center;

}

.txet span {
    background-color: #E6B673;
    padding: 5px 30px;
    border-radius: 5px;
}

.title {
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 30px;
}

/* style-link */
.top2{
    padding: 200px 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}
.title{
    padding: 150px 0 0 0;
    text-align: center;
    color: #f2f2f2;
    font-size: 25px;
 
 }
 .S2 , .S1 , .title2{
    padding: 50px 0 0 0;
    text-align: center;
    color: #f2f2f2;
    font-size: 20px;
 }
 button{
    padding: 5px 105px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    background-color: #E6B673;
 }
 #copy-me {
    background-color: #E6B673;
    color: #333;
    padding: 20px;
    font-size: 15px;
    margin: 50px;
    border-radius: 5px;
 }
/* imgs-style */
.imgs1,
.imgs2 {
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.tt {
    width: 150px;
    height: 130px;
    margin: 20px;
}

.tt img {
    width: 100%;
    height: 130px;
    border-radius: 5px;
    background-color: #E6B673;
}

.tt:hover img {
    transform: translateY(-20PX);
}

/* style-cards */

.main-cards {
    padding: 30px 150px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;
    width: 275px;
    text-align: center;
    margin: 20px;
}

.card .fa-brands,
.fa-solid {
    font-size: 100px;
    color: #E6B673;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
    margin: 15px;
}

.card-info {
    padding: 10px;
}

.card-title {
    font-size: 18px;
    margin: 0;
}

.card-description {
    font-size: 15px;
    margin: 10px 0;
}

.card-date {
    font-size: 14px;
    margin: 0;
    color: #999;
}

.card:hover {
    transform: scale(1.1);
}

/* style-footer */
footer {
    text-align: center;
    padding: 15px;
    background-color: #999;
    font-weight: 900;
}

/* style-call */

.call {
    padding: 50px 180px;
}

.card-call {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.link-call a {
    background-color: #E6B673;
    padding: 5px 15px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
}

/* mobil-style */
@media screen and (max-width: 600px) {
    nav {
        width: 100%;
        padding: 8px 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav a {
        color: #ffffff;
        padding: 5px;
        font-size: 12px;
    }

    .top {
        width: 100%;
        padding: 100px 0px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .info img {
        width: 250px;
    }

    .txet {
        text-align: center;
        font-size: 25px;

    }

    .txet span {
        background-color: #E6B673;
        padding: 5px 30px;
        border-radius: 5px;
    }

    .imgs1,.imgs2 {
        width: 100%;
        padding: 10px 50px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tt {
        width: 250px;
        height: 150px;
        margin: 20px;
    }

    .tt img {
        width: 100%;
        height: 150px;
        border-radius: 5px;
        background-color: #E6B673;
    }

    .tt:hover {
        transform: translateY(-10px);
    }

    /* style-cards */

    .main-cards {
        padding: 30px 50px;
    }

    /* style-call */

    .call {
        padding: 50px 50px;
    }

    .card-call {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #ccc;
        width: 100%;
        height: 500px;
        overflow: hidden;
    }

    .link-call{
        margin-top: 20px;
    }
    .link-call a {
        background-color: #E6B673;
        padding: 5px 15px;
        border-radius: 5px;
        color: #ffffff;
        font-size: 20px;
    }
    /* sytle-link */
    #copy-me {
        background-color: #E6B673;
        color: #333;
        padding: 5px;
        font-size: 15px;
        margin: 37px;
        border-radius: 10px;
        overflow: hidden;
        width: 80%;
     }
     .title{
        padding: 150px 0 0 0;
        text-align: center;
        color: #f2f2f2;
        font-size: 15px;
     }
     .S2 , .S1 , .title2{
        padding: 30px 30px;
        text-align: center;
        color: #f2f2f2;
        font-size: 20px;
     }
  
    section{
        padding: 50px 50px;
    } 
}

/* الشريط الجنابي */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f2f2f2;
}

::-webkit-scrollbar-thumb {
    background-color: #E6B673;
}